*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html{
    font-size: 11px;
}

.container{
    width: 100vw;
    height: 100vh;  
    /* background-color: #d9e2d1; */
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

 .containercard{
     border: 0.2rem solid rgb(223, 162, 134);
     height: 80%;
     width: 65%;
     background-color: rgb(241, 249, 252); 
     text-align: center;
     overflow: auto;
     border-radius: 4px;
     box-shadow: 0px 5px 20px rgb(92, 91, 91);
 } 
 ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }


 .textsec{
    width: 38rem;
    border: 0.2px solid black;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    font-family: 'Nanum Gothic', sans-serif;
    margin-bottom: 1.6rem;
    }
    
    .textsubmit{
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: rgb(53, 151, 184);
    color: white;
    font-weight: 600;
    margin-left: 0.8rem;
    width:4rem ;
    border: 0.2px solid black;
    }

    .heading{
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 3rem;
        margin:1.3rem 0rem;
    }

  .tasksection{
        display:flex;
        margin-right: 5rem;
        background-color: ghostwhite;
        width: 90%;
        border-radius: 5px;
        padding:1rem 1rem ;
        text-align: left;
        margin: 1.1rem 1.5rem;
        font-size: larger;
        font-weight: 900;
        box-shadow: 0px 5px 20px rgb(92, 91, 91);
      }

      .del-icon{
       cursor: pointer;
       border: 0.1rem solid red;
       margin-left: auto;
       background-color: rgb(136, 193, 212);
      }

      .checkicon{
        margin-right: 1rem;
        border: 0.1rem solid purple;
      }

      .bllue{
        background-color: rgb(197, 255, 197);
      }

      @media only screen and (max-width:880px){
        html{
          font-size: 8px;
        }
      }

      @media only screen and (max-width:560px){
        html{
          font-size: 7px;
        }
        .containercard{
          height:100%;
          width: 100%;
        }

      }

      @media only screen and (max-width:330px){
        html{
          font-size: 6px;
        }

      }